@model WebApplication.Models.RequirementConfirmation

@{
    int requirementId = ViewBag.RequirementId;
}
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <strong>Подтверждение о перевод №@requirementId</strong>
    </div>

    <div class="modal-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                 @Html.Hidden("requirementId", requirementId)
                
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, 3, 100, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                    </div>
                </div>
                <hr />
                
                <div class="form-group">
                    @Html.Label("Приложенный файл?", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <input type="file" class="form-control" id="error" name="error" value="Сохранить файл" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4" align="right">
                        <input type="submit" value="Создать" class="buttonS"/>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
</div>