@using WebApplication.Models

@{
    Request item = ViewData["Request"] as Request;
}
<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(modelItem => item.Id)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Id)
        </dd>

        <dt>
            Категория и предмет
        </dt>
        <dd>
            @item.Category.Name
            <span class="label label-success">
                @item.Subject.Name
            </span>
        </dd>


        <dt>
            @Html.DisplayNameFor(modelItem => item.Priority)
        </dt>
        <dd>
            @if (item.Priority == (int)RequestPriority.Low)
            {
                <span class="badge badge-low">Низкий</span>
            }
            else if (item.Priority == (int)RequestPriority.Medium)
            {
                <span class="badge badge-medium">Средний</span>
            }
            else if (item.Priority == (int)RequestPriority.High)
            {
                <span class="badge badge-high">Высокий</span>
            }
            else if (item.Priority == (int)RequestPriority.Critical)
            {
                <span class="badge badge-critical">Критичный</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => item.Description)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => item.Document)
        </dt>
        <dd>
            @if (item.Document != null)
            {
                <a href="/Document/DownloadRequestFile/@item.Document.Id"><img src="../../Content/pictures/filey.png" alt='@item.Document.Url' class="tdImage" title="Скачать файл"/></a>
            }
            else
            {
                <img src="../../Content/pictures/filen.png" alt="без файла изображения" class="tdImage" title="Файл не приложен"/>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => item.Price)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Price)
        </dd>

        <dt>
             @Html.DisplayNameFor(modelItem => item.IsPaid)
        </dt>
        <dd>
            @if (item.IsPaid)
            {
                <span class="label label-success">ДА, скоро будет загружено решение</span>
                if (item.CanDownload)
                {
                    <a href="/Document/DownloadSolution/@item.Id"><img src="../../Content/pictures/filey.png" class="tdImage" title="Скачать решение" /></a>
                }
            }
            else
            {
                <span class="label label-warning">Не оплачено</span>
            }            
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => item.Author)
        </dt>
        <dd>
            <a class="compItem" href='@Url.Action("UserDetailsModal", "Account", new {id = item.AuthorId}, null)'>
                @item.Author.Name
            </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => item.Executor)
        </dt>
        <dd>
            @if (item.Executor != null)
            {
                <a class="compItem" href='@Url.Action("UserDetailsModal", "Account", new { id = item.ExecutorId }, null)'>
                    @item.Executor.Name
                </a>
            }
            else
            {
                <h5>Исполнитель не установлен</h5>
            }
        </dd>
    </dl>
</div>

