@using WebApplication.Models
@using WebApplication.Service

@{
    ApplicationUser item = ViewData["User"] as ApplicationUser;
}

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(modelItem => item.Name)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Name)
        </dd>

        <hr/>
        <dt>Аватар:</dt>
        <dd>
            <p>
                @{
                    var yes = ApplicationUserService.GetUserAvatar(item.Id).IsEmpty();
                    if (!yes)
                    {
                        @Html.Raw("<img style='width:100px;' src=\"../../Files/UserAvatarFiles/"
                                  + ApplicationUserService.GetUserAvatar(item.Id) + "\" />")
                    }
                    else
                    {
                        <h5>Аватар не выбран</h5>
                    }
                }
            </p>
        </dd>

        <hr />
        <dt>Карма:</dt>
        <dd>
            @ApplicationUserService.GetUserKarma(item.Id)
        </dd>

        <hr />
        <dt>О себе:</dt>
        <dd>
            <p>
                @ApplicationUserService.GetUserInfo(item.Id)
            </p>
        </dd>

        <hr />
        <dt>
            @Html.DisplayNameFor(modelItem => item.LastVisition)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.LastVisition)
        </dd>

        <hr />
        <dt>
            @Html.DisplayNameFor(modelItem => item.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </dd>

        @if (item.IsBlocked)
        {
            <hr/>
            <dt>
                @Html.DisplayNameFor(modelItem => item.BlockForDate)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.BlockForDate)
            </dd>

            <hr/>
            <dt>
                @Html.DisplayNameFor(modelItem => item.BlockReason)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.BlockReason)
            </dd>
        }
    </dl>
</div>

