@using Microsoft.AspNet.Identity
@using WebApplication.Service
@model WebApplication.Models.ApplicationUser

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Пользователь</h4>
    </div>
    <div class="modal-body">
            <p>
                <b>
                    @Html.DisplayNameFor(m => m.Name)
                </b>
                @Html.DisplayFor(m => m.Name)
            </p>


            <p>
                <b>
                    @Html.DisplayNameFor(m => m.Avatar)
                </b>
                @{
                    var yes = ApplicationUserDTO.GetUserAvatar(this.User.Identity.GetUserId()).IsEmpty();
                    if (!yes)
                    {
                        @Html.Raw("<img style='wibh:50px; height:50px;' src=\"../../Files/UserAvatarFiles/"
                              + ApplicationUserDTO.GetUserAvatar(this.User.Identity.GetUserId()) + "\" />")
                    }
                    else
                    {
                        <text>Аватар не выбран</text>
                    }
                }
            </p>

            <p>
                <b>
                    @Html.DisplayNameFor(m => m.Karma)
                </b>
                @Html.DisplayFor(m => m.Karma)
            </p>

            <p>
                @if (User.IsInRole("Administrator"))
            {
                    <b>
                        @Html.DisplayNameFor(m => m.Props)
                    </b>

                    <table class="table">
                        <tr>
                            <th>
                                Категория
                            </th>
                            <th>Доп.сведения</th>
                            <th>
                                Номер/адрес
                            </th>
                        </tr>

                        @foreach (var item in Model.Props)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PropsCategory.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PropsCategory.Info)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                            </tr>
                        }
                    </table>


                    <b>
                        @Html.DisplayNameFor(m => m.Contacts)
                    </b>

                    <table class="table">
                        <tr>
                            <th>
                                Ссылка/номер/адрес
                            </th>
                        </tr>

                        @foreach (var item in Model.Contacts)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactAdress)
                                </td>
                            </tr>
                        }
                    </table>
                }
            </p>
           

    </div>
</div>