@model WebApplication.Models.Payment

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Детали удаляемой оплаты</h4>
    </div>
    <div class="modal-body">
        <h4>Оплата №@Model.Id</h4>
        <dl class="dl-horizontal">
            <dt>
                    @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Author.Name)
            </dd>

            <dt>
                <b>
                    @Html.DisplayNameFor(model => model.Request)
                </b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Request.Name)
            </dd>

            <dt>
                <b>
                    @Html.DisplayNameFor(model => model.Description)
                </b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                <b>
                    @Html.DisplayNameFor(model => model.Checked)
                </b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Checked)
            </dd>

            <dt>
                <b>
                    @Html.DisplayNameFor(model => model.Price)
                </b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
            </dt>
            <dd>
                @if (!Model.Closed)
                {
                    using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Удалить" class="buttons" />
                        </div>
                    }

                }
                else
                {
                    <text>Удалить нельзя, т.к. закрытая и принятая администрацией оплата</text>
                }
            </dd>
        </dl>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
</div>