@using Microsoft.AspNet.Identity
@using WebApplication.Models
@using WebApplication.Service
@model WebApplication.Models.Request

@{
    decimal balance = ApplicationUserService.GetUserBalance(this.User.Identity.GetUserId());
    int paymentId = ViewBag.PaymentId;
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <strong>Оплата №@paymentId</strong>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">

            @*Если перевод не закрыт*@
            @if (ViewBag.Closed == false)
            {
                <dt>
                    Стоимость заявки:
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => Model.Price)
                </dd>
                <hr />

                <dt>
                    Автор:
                </dt>
                <dd>
                    <a class="compItem" href='@Url.Action("UserDetailsModal", "Account", new {id = Model.AuthorId}, null)'>
                        @Model.Author.Name
                        /
                        @Model.Author.Id
                        <img src="../../Content/pictures/author.png" class="tdImage" title="Автор заявки" />
                    </a>
                </dd>
                <hr />

                <dt>
                    Текущий счет автора заявки:
                </dt>
                <dd>
                    @balance
                </dd>
                <hr />


                if (Model.Executor != null)
                {
                    <dt>
                        Исполнитель:
                    </dt>
                    <dd>
                        <a class="compItem" href='@Url.Action("UserDetailsModal", "Account", new {id = Model.AuthorId}, null)'>
                            @Model.Executor.Name
                            /
                            @Model.Executor.Id
                            <img src="../../Content/pictures/executor.png" class="tdImage" title="Автор заявки" />
                        </a>
                    </dd>
                    <hr />

                    <dd>
                        @if (Model.Price > balance)
                        {
                            // Говорим, что у автора не хватает средств
                            <text>
                                Баланс меньше требуемой суммы!
                            </text>
                        }
                        else
                        {
                            // Иначе - делаем возможность перевода
                            using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("requestId", Model.Id)
                                @Html.Hidden("paymentId", paymentId)

                                <div class="form-actions no-color">
                                    <input type="submit" value="Перевод от автора к исполнителю" class="buttonS" />
                                </div>
                            }
                        }
                    </dd>
                }
                else
                {
                    <dd>
                        <h6>Не установлен исполнитель, потому перевод пока что невозможен. Выберите исполнителя задачи и пусть он загрузит решение</h6>
                    </dd>
                }
            }
            else
            {
                <dd>
                    Распределение невозможно, оплата/перевод - закрыто безвозвратно.
                </dd>
            }
            </dl>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
</div>



@* Стоимость заявки - нередактируемое свойство *@

@* Внесенные средства. 
    Их может быть больше требуемого количества, либо меньше требуемого. 
        Если больше - остаток переводится на баланс отправителя. 
        Иначе - запрашивается текущее состояние баланса пользователя*@