@model WebApplication.Models.Payment

@{
    ViewBag.Title = "Редактирование оплаты/внесения средств на баланс";
}

<h2>Редактирование оплаты №  @Model.Id</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
            <text align="justify" class="col-md-6">
                Вносимая стоимость. 
                <br />
                Важно! Всё это происходит после проверки транзакции администрацией.
            </text>
        </div>
        <hr />
             
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.Description,3,100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            <text align="justify" class="col-md-6">
                Если хотите - напишите свой комментарий(последние 4 номера карты-счета для сравнения, допустим).
            </text>
        </div>
        <hr />

        <div class="form-group">
            @Html.Label("Изменить приложенный файл?", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                <input type="file" class="form-control" id="error" name="error" value="Сохранить файл"/>
            </div>
            <text align="justify" class="col-md-6">
                Если не нужно изменить файл - не прикрепляйте, сохранится старый. Иначе прикрепите методичку, если есть, или задание в электронном виде
            </text>
        </div>
        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Сохранить изменения" class="buttonS" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к списку", "MyIndex","Payment", new { @class="buttonb"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
