@model WebApplication.Models.Payment

@{
    ViewBag.Title = "Удаление";
}

<h2>Delete</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>Оплата №@Model.Id</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Req.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Req.Name)
        </dd>            

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "MyIndex", "Payment", new { @class = "buttonb" })
        </div>
    }
</div>
