@model WebApplication.Models.Request


<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Детали удаляемой заявки</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                <b>
                    Задача №
                </b>
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Id)
            </dd>

            <dt>
                <b>
                    @Html.DisplayNameFor(m => m.Category.Name)
                </b>
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Category.Name)
            </dd>

            <dt>
                <b>
                    @Html.DisplayNameFor(m => m.Subject.Name)
                </b>
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Subject.Name)
            </dd>

            <dt>
                <b>
                    @Html.DisplayNameFor(m => m.Name)
                </b>
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Name)
            </dd>

            <dt>
                <b>
                    @Html.DisplayNameFor(m => m.Description)
                </b>
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Description)
            </dd>

            <dt>
            </dt>
            <dd>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Удалить" class="buttons"/>
                    </div>
                }
            </dd>
        </dl>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
</div>