@model IEnumerable<WebApplication.Models.RequestSolution>

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Все решения</h4>
    </div>
    <div class="modal-body">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Скачать решение
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        <a href="Account/Index/@item.AuthorId">
                             @Html.DisplayFor(modelItem => item.Author.Name)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @if (item.DocumentId != null)
                        {
                            <a href="/Document/DownloadSolution/@item.DocumentId"><img src="../../Content/pictures/filey.png" class="tdImage" title="Скачать решение"/></a>
                        }
                        else
                        {
                            <img src="../../Content/pictures/filen.png" alt="без файла изображения" class="tdImage" title="Файл не приложен" />
                        }
                    </td>
                </tr>
            }
            </tbody>
            
        </table>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
</div>