@model WebApplication.Models.Lifecycle

<div>
    
</div>
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <strong>Жизненный цикл заявки № @Html.DisplayFor(m => m.Id)</strong>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                 @Html.DisplayNameFor(m => m.Opened)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Opened)
            </dd>
            <hr/>

            <dt>
                @Html.DisplayNameFor(m => m.Distributed)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Distributed)
            </dd>
            <hr />

            <dt>
                @Html.DisplayNameFor(m => m.Proccesing)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Proccesing)
            </dd>
            <hr />

            <dt>
                @Html.DisplayNameFor(m => m.Checking)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Checking)
            </dd>
            <hr />

            <dt>
                @Html.DisplayNameFor(m => m.Closed)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Closed)
            </dd>

        </dl>
    </div>
</div>