@model WebApplication.Models.Requirement

@{
    ViewBag.Title = "Заявка на вывод средств";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.Description, 3,100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            <text align="justify" class="col-md-6">
                Напишите Ваши комментарии-пожелания, если они присутствуют. Помните, краткость - сестра таланта.
            </text>
        </div>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
            <text align="justify" class="col-md-6">
                Укажите сумму, которую Вы собираетесь вывести
            </text>
        </div>
        <hr />

        <div class="form-group">
            @Html.Label("Подтвердить отправку?", new { @class = "col-md-2 control-label" })

            <div class="col-md-4">
                <input class="buttonS" type="submit" value="Сохранить" width="100" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к списку моих оплат", "MyIndex", "Requirement", new {@class="buttonb"})
</div>
